<header class="v-header container">
  <div class="fullscreen-video-wrap">
    
  </div>
  <div class="header-overlay"></div>
  <div class="header-content text-md-center">
    <h1>SPEECH RECOGNITION</h1>
    <h2>SPEECH SENTIMENT ANALYSIS</h2>
    <!-- <p>Testing for Speech to Text and performing Sentiment Analysis</p> -->
    <!-- <button class="btn-hover color-4">Read More</button> -->
  </div>
</header>

<div class="container">
  <div class="row">

    <div class="col 6">
      <div class="choose">
        <label for="file-upload" class="custom-file-upload btn-hover color-7 ">
          <i class="fas fa-cloud-upload-alt"></i> Upload WAV File
        </label>
        <input id="file-upload" (change)="selectFile($event)" type="file"/>
      </div>
    </div>
    <div class="col 6">
      <button class="btn-hover color-3 shift" (click)="sendString()"><i class="fas fa-check-circle"></i> GENERATE</button>
    </div>

  </div>
</div>


<div class="contain" *ngFor="let item of arr">

    <div class="row">

        <div class="col 6">
          <div class="card">
            <img class="card1" src="data:image/JPG;base64,{{item.imgData}}"><br>

            <h1>DIARIZATION</h1>
          </div>
        </div>
        <div class="col 6">
         <div class="card2">
            <div class="row">
                <div class="col 2"></div>
                <div class="col 8">
                  <div class="new">
                      <h5>Extracted Text :</h5>{{orignalText}}
                  </div>
                  <br><br>
                  <div class="result">
                    <h5>sentiment score : </h5>{{score}}
                  </div>


                </div>
                <div class="col 2"></div>
              </div>
         </div>
        </div>

      </div>
</div>
<br><br>


